<ion-header>
  <ion-toolbar color='tertiary'>

    <ion-title>Usuarios</ion-title>


   <ion-icon  name="close"  slot='end' style='font-size:20px;padding-right: 12px;' (click)='closeModal()' ></ion-icon>


  </ion-toolbar>
</ion-header>

<ion-content>


<ion-item *ngFor = 'let c of usuarios ' (click)='escoge(c)'>
  <ion-thumbnail slot="start">

    <img *ngIf='c["photo"][0]' src="{{c['photo'][0]['photo'][0]['imagen']}}">


    <img *ngIf='c.imagen' src="assets/avatars/png/{{c.imagen}}">
  </ion-thumbnail>
<p>{{c.celular}}</p>
   <p *ngIf='c["photo"][0]'>{{c['photo'][0]['edad']}} {{c['photo'][0]['distrito']}}</p>
</ion-item>

</ion-content>
