
<ion-content>
<div style='position: fixed;
    top: 0px;
    z-index: 200;
    width: 100%;
'>
<ion-item >
	<ion-label class='label'>Alias : </ion-label>
<ion-input [(ngModel)]='alias' placeholder='Ingrese su alias o telefono'></ion-input>	

</ion-item>

	<ion-row style='background: white;
    z-index: 300;
    
    padding-left: 15px;
    padding-top: 1px;'>
  	<ion-col size='10'><p>Escoge un avatar :</p></ion-col>

    <ion-col size='2' *ngIf='aliasescogido'><img src="assets/avatars/png/{{aliasescogido}}"></ion-col>
  </ion-row></div>


<div style='height: 5em;'></div>

	<ion-grid style='padding-top: 2em;'>

    <ion-row >

    	<ion-col  *ngFor="let a of avatar" size="3" (click)='escogeavatar(a)'>

            <div style='background-color: rgb(247, 20, 104);
    padding: 10px;
    border-radius: 10px;' [style.background-color]="a.hasavatar ? '#f71468' : 'white' " ><img src="assets/avatars/png/{{a.imagen}}"></div></ion-col>
    </ion-row>
</ion-grid>

</ion-content>

<ion-footer>
<ion-button shape='round' expand='block' (click)='guarda()'>Aceptar</ion-button>
</ion-footer>
