<ion-header>
  <ion-toolbar color='primary'>
  	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides   pager="true" [options]="slideOpts">

  <ion-slide *ngFor = 'let c of detallekine.photo'>

   
   <img *ngIf='c.imagen' src="{{c.imagen}}" alt="">

    <img *ngIf='c.photo' src="http://mylookxpressapp.com:2000/{{c.photo}}" alt="">

  </ion-slide>



</ion-slides>


</ion-content>

<ion-footer no-border>

  <ion-grid fixed>

    <ion-row>
<ion-col size='10' offset='1'>
 <a target="_blank"  href="https://wa.me/51{{detallekine.telefono}}?text=Hola%20amiga%20vi%20tu%20anuncio%20en%20{{link}}"><ion-button expand='full' shape='round'>Whatsapp</ion-button></a>



</ion-col>
</ion-row>
</ion-grid>
</ion-footer>
