<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
     <ion-icon name="heart-half-outline"></ion-icon>
      <ion-label>Girls</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
   <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

   <!-- <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>-->
  </ion-tab-bar>

</ion-tabs>
