<ion-header [translucent]="true">

  <ion-toolbar color='primary'>

      <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>

      <ion-row><ion-col *ngIf='avatardestino' size=2>
    <img  src="assets/avatars/png/{{avatardestino.avatar}}"></ion-col>

    <ion-col style='padding-top: 12px;' *ngIf='avatardestino' size='10'>{{avatardestino.usuario}}</ion-col>
      <ion-col *ngIf='!avatardestino' size='10'>{{room}}</ion-col></ion-row>


    </ion-title>

 
      <ion-icon name="people-outline" slot='end' (click)='traegrupos()' style='padding-right: 10px; font-size:25px;'></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid *ngIf='room=="Chat"'>
 
<ion-item><h2>Grupos Disponibles</h2></ion-item>

<ion-item *ngFor = 'let c of grupos ' (click)='escogeroom(c)'>
 
  <p>{{c.room}}</p>
  
</ion-item>




</ion-grid>


  <ion-grid *ngIf='room!="Chat"'>
    <ion-text color="medium" text-center>
      <p>Ingresate al chat con el alias {{ currentUser }}</p>
    </ion-text>
    <ion-row *ngFor="let message of messages">
 


      <ion-col size="9" *ngIf="message.user !== currentUser" class="message other-message">


        
        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
       
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="message.user === currentUser" class="message my-message">



        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      


      </ion-col>
 
    </ion-row>
  </ion-grid>


   
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)='presentModal()'>
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 
</ion-content>
 
<ion-footer *ngIf='room!="Chat"'>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
