.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
    font-family: 'Work Sans', serif;
  }
   
  .my-message {
    background: var(--ion-color-light);
    color: #000;
    font-family: 'Work Sans', serif;
  }
   
  .other-message {
    background: var(--ion-color-light);
    color: #000;
    font-family: 'Work Sans', serif;
  }
   
  .time {
    color: #000;
    float: right;
    font-size: small;
    font-family: 'Work Sans', serif;
  }
   
  .message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-light);
    border-radius: 5px;
    background: #fff;
    font-family: 'Work Sans', serif;
       height: 44px;
    padding-left: 12px;
    padding-top: 1px;
  }
   
  .msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }

  ion-title,p,ion-col,h2{
  font-family: 'Work Sans', serif;
}
