<ion-header [translucent]="true">
  <ion-toolbar color='primary'>
    <ion-title>
      Sexy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


<div class="wrapper" style="padding:2px;">
  <div class='columns'>
    <div class="grid" *ngFor = 'let c of kines | async ' (click)='detalle(c)'>
    
            <img *ngIf='c.origen=="Photokines" && c.photo[0]["imagen"]' src="{{c.photo[0]['imagen']}}">


            

            <img *ngIf='c.origen=="Skoka" && c.photo[0]' src="{{c.photo[0]['imagen']}}">

       
            
            <div style="padding-left:10px; padding-bottom: 10px; color:#234;">
            <span *ngIf='c.distrito'>{{c.distrito}}<br></span>
            <span *ngIf='c.precio'>{{c.precio}}<br></span>
            <span *ngIf='c.edad'>{{c.edad}}</span> 

          </div>

    </div>
  </div>
</div>


 


</ion-content>