
ion-title{
	font-family: 'Work Sans', serif;
}

	.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
    width: 80px;
    height: auto;
}

.toolbar-title{


	font-family: 'Work Sans', serif;

	font-size:30px !important;
}



.columns{
	column-count:4;
	column-gap:15px;
	column-fill:auto;
	font-family: 'Work Sans', serif;
	font-size:12px;

}

.grid{

	display: inline-block;
	transition:all .2s ease;
	    background: #ffffff;
    border: 1px solid #d9cde6;
    border-radius: 6px;
    margin-bottom: 5px;
    padding:0px;
}
		

.grid img{

	width: 100%;
	margin-bottom: 5px;
}



@media only screen and (max-width: 768px) {

.columns{
	column-count:2;
	column-gap:15px;
	column-fill:auto;
	font-family: 'Work Sans', serif;
		font-size:12px;

}


.modal-wrapper {
    left: calc(50% - (600px/2));
    top: calc(50% - (600px/2));
    position: absolute;
    width: 600px;
    height: 600px;
}

}

