<ion-header>
  <ion-toolbar color='tertiary'>
    <ion-title>Grupos</ion-title>
      <ion-icon  name="close"  slot='end' style='font-size:20px;padding-right: 12px;' (click)='closeModal()' ></ion-icon>


  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item *ngFor = 'let c of grupos ' (click)='escoge(c)'>
 
  <p>{{c.room}}</p>
  
</ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)='creagrupo()'>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>



